<!DOCTYPE html>
<html>
  <head>
    <%= display_meta_tags %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header_inner">
        <%= link_to "FileCabinet", root_path, id: "logo" %>
        <% if user_signed_in? %>
        <nav>
          <%= link_to "Create Doc", new_doc_path%>
          <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
        </nav>
        <% else %>
        <nav>
          <%= link_to "Log In", new_user_session_path%>
        </nav>
        <% end %>
      </div>
    </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
